* {
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
 color: black;
}

.hero {
 height: 100%;
 width: 100%;
 background-color: #449A68;
 background-position: center;
 background-size: cover;
 position: absolute;
}

#header {
 margin: 25px;

 display: grid;
 justify-items: center;
 align-items: center;
}

.form-box {
 height: 400px;
 width: 380px;
 position: relative;
 margin: 3% auto;
 background: #ffff;
 padding: 5px;
 overflow: hidden;
 border-radius: 7px;
 box-shadow: 0px 0px 5px 2px black;
}

.toggle-btn {
 padding: 10px 30px;
 cursor: pointer;
 background: transparent;
 border: 0;
 outline: none;
 position: relative;
}

#btn {
 top: 0;
 left: 0;
 position: absolute;
 width: 120px;
 height: 10%;
 background: linear-gradient(to right, #77CD99, #8ECDA7);
 transition: .3s;
}

.input-group {
 top: 100px;
 position: absolute;
 width: 280px;
 transition: .5s;
}

.input-field {
 width: 100%;
 padding: 10px 0;
 margin: 5px 0;
 border-left: 0;
 border-right: 0;
 border-top: 0;
 border-bottom: 1px solid #999;
 outline: none;
 background: transparent;
}

.submit-btn {
 widows: 85%;
 padding: 10px 30px;
 cursor: pointer;
 display: block;
 margin: auto;
 background: linear-gradient(to right, #77CD99, #8ECDA7);
 border: 0;
 outline: none;
 border-radius: 30px;
}

.checkbox {
 margin: 30px 10px 30px 0;
}

span {
 color: #808080;
 font-size: 13px;
 bottom: 68px;
 position: absolute;
}

#login {
 left: 50px;
}

#register {
 left: 450px;
}